auto-save-list
backups
*~
*#
projects
persp-confs
projects
ltximg
.places
session.*
tramp
elpa
swank
emms
site-lisp/adventur-mode
*.elc
.DS_Store
.yas-compiled-snippets.el
.cask
straight
/url/
/var/
/.sx/
/ensime/
/history
/ido.last
/recentf
/projectile-bookmarks.eld
/projectile.cache
/transient/history.el
/transient/values.el
/forge-database.sqlite
/smex-items
emojis/

nohup.out
config.el

.lsp-session*
amx-items
auto.el
request
.cache
